{% extends 'layout.html' %}

{% block titre %}
    Say page
{% endblock %}

{% block body %}
	<div class="container" style="margin-top: 150px">
	Ajoutez le lien du nouveau site ICI !
    <form action="" method="POST">
        <input name="url" type="text" placeholder="Enter URL" /><button>Enter URL</button>
    </form>

    {% if websiteexist == True %}
    	{{ url }} | ON 
    {% endif %}	

    {% if websiteexist == False and url == '' %}	
   		{{ url }} | OFF 
    {% endif %}

    </div>

{% endblock body %}